.nav {
  display: flex;
  justify-content: center;
  background-color: #adadad;
}

.formRegister {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  padding: 3rem;
  border-radius: 5px;

}

.divform {
   width: 400px;
    text-align: center;
    margin-top: 3rem;
    margin-left: 40%;
  }
.divlinks{
  display: flex;
}
.buten a {
  display: block;
  width: 176px;
  border: 2px solid black;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 10px;
}

.buten a.active {
  background-color: greenyellow;
}