.nav {
  display: flex;
  justify-content: center;
  background-color: #adadad;
}

.formRegister {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  padding: 3rem;
  border-radius: 5px;

}

.divform {
   width: 400px;
    text-align: center;
    margin-top: 3rem;
    margin-left: 40%;
  }
.divlinks{
  display: flex;
}
.buten  {
  width: 20rem ;
  border: 2px solid;
  border-radius: 5px;
}

.buten:hover  {
  background-color: greenyellow;
}